mdapipkg/flows/Rental_Creation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Existing</name>
        <choiceText>Existing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Existing</stringValue>
        </value>
    </choices>
    <choices>
        <name>New</name>
        <choiceText>New</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <decisions>
        <name>NewOrExistingDecision</name>
        <label>NewOrExistingDecision</label>
        <locationX>422</locationX>
        <locationY>195</locationY>
        <defaultConnector>
            <targetReference>SelectEvent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Rental Event</defaultConnectorLabel>
        <rules>
            <name>New_Rental_Event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>neworexisting</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>New</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateNewEventScreen</targetReference>
            </connector>
            <label>New Rental Event</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AllFutureRentalEvents</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <object>Rental_Event__c</object>
        <outputAssignments>
            <assignToReference>Event.End_Date__c</assignToReference>
            <field>End_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Event.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Event.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Event.Start_Date__c</assignToReference>
            <field>Start_Date__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Rental Management {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Rental Creation</label>
    <loops>
        <name>Format_Asset_List</name>
        <label>Format Asset List</label>
        <locationX>273</locationX>
        <locationY>673</locationY>
        <assignNextValueToReference>formatLoopVar</assignNextValueToReference>
        <collectionReference>EventRentalAssets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Rental_Event</name>
        <label>Create Rental Event</label>
        <locationX>777</locationX>
        <locationY>360</locationY>
        <assignRecordIdToReference>Event.Id</assignRecordIdToReference>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>REEnd_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>REName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>REStart_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Rental_Event__c</object>
    </recordCreates>
    <recordLookups>
        <name>get_event_rental_listings</name>
        <label>get event rental listings</label>
        <locationX>273</locationX>
        <locationY>498</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Format_Asset_List</targetReference>
        </connector>
        <filters>
            <field>Rental_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Event.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <object>Rental__c</object>
        <outputReference>EventRentalAssets</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Rental_Asset__c</queriedFields>
        <queriedFields>Start_Date__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>End_Date__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <screens>
        <name>AssetSelectionScreen</name>
        <label>AssetSelectionScreen</label>
        <locationX>1037</locationX>
        <locationY>777</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dt_CurrentAssets</name>
            <fieldText>&lt;p&gt;{!Event.Name}&lt;/p&gt;&lt;p&gt;&lt;i&gt;{!Event.Start_Date__c} - {!Event.End_Date__c}&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Currently reserved assets:&lt;/p&gt;&lt;p&gt;{!EventRentalAssets}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CreateNewEventScreen</name>
        <label>Create Event Screen</label>
        <locationX>778</locationX>
        <locationY>204</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Rental_Event</targetReference>
        </connector>
        <fields>
            <name>text_CreateEvent</name>
            <fieldText>&lt;p&gt;Create a new Rental Event&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>REName</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>REStart_Date</name>
            <dataType>Date</dataType>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>REEnd_Date</name>
            <dataType>Date</dataType>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectEvent</name>
        <label>SelectEvent</label>
        <locationX>272</locationX>
        <locationY>354</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_event_rental_listings</targetReference>
        </connector>
        <fields>
            <name>Choose_Existing_Event</name>
            <choiceReferences>AllFutureRentalEvents</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose existing event</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Start</name>
        <label>Start</label>
        <locationX>430</locationX>
        <locationY>49</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>NewOrExistingDecision</targetReference>
        </connector>
        <fields>
            <name>neworexisting</name>
            <choiceReferences>New</choiceReferences>
            <choiceReferences>Existing</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is this part of a new or existing rental event?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Start</startElementReference>
    <status>Draft</status>
    <textTemplates>
        <name>EventAssetListTT</name>
        <text>Yay</text>
    </textTemplates>
    <variables>
        <name>Event</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Rental_Event__c</objectType>
    </variables>
    <variables>
        <name>EventRentalAssets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Rental__c</objectType>
    </variables>
    <variables>
        <name>formatLoopVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Rental__c</objectType>
    </variables>
</Flow>
